
@* 

@using (Ajax.BeginForm("AddEmployee", "Employee", new AjaxOptions
 {
     HttpMethod = "POST",
     OnSuccess = "onEmployeeAdded"
 }, new { id = "employeeForm" }))
{
    <input type="text" name="EmployeeName" required />
    <input type="email" name="Email" required />
    <button type="submit">Создать сотрудника</button>
}

 *@
@model ERP.ViewModels.CreateEmployeeViewModel

 <form asp-action="AddEmployee" id="AddEmployeeForm" asp-controller="Account" method="post">

  
    <input id="EmployeeName" asp-for="EmployeeName" name="EmployeeName" placeholder="Имя" type="text" required>

    <input id="PhoneNumber" asp-for="PhoneNumber" name="PhoneNumber" placeholder="Телефон" type="text" required>

    <input id="Email" asp-for="Email" name="Email" placeholder="Почта" type="email" required>

    <input id="Passport" asp-for="Passport" name="Passport" placeholder="паспорт" type="text" required>
  
   <span>Должность: </span> 
    <select id="Position" asp-for="Position" name="Position">
        @if (ViewBag.Positions != null)
        {
        @foreach (var position in ViewBag.Positions as List<string>)
        {              
             <option value="@position">@position</option>        
        }
        }
    </select>

    <span>Босс: </span>
    <select asp-for="BossId" id="BossId" name="BossId">
        <option value="">Нет босса</option>
        @if (ViewBag.Bosses != null)
        {
        @foreach (var boss in ViewBag.Bosses as List<Employee>)
        {
            <option value="@boss.EmployeeId">@boss.EmployeeName</option>
        }
        }
    </select>

    <input asp-for="Password" id="EmployeePassword" name="Password" placeholder="Пароль" type="text" required>
@* 
    <input id="StartWork" name="StartWork" type="date"> *@

    <button type="submit" id="addEmployee" class="btn btn-primary">Добавить сотрудника</button>
</form>
