
<div class="login-container">
    <div class="login-modal">
        <h2>Восстановление пароля</h2>
        <form  >
            <div class="form-group">
                <label for="email">Email</label>
                <input  id="email" placeholder="Введите email" required>
            </div>
            <button type="submit" class="btn">Отправить ссылку на сброс</button>
        </form>
    </div>
</div>


<p id="message"></p>

<script>
    document.getElementById("forgot-password-form").addEventListener("submit", async function (event) {
        event.preventDefault();

        let email = document.getElementById("email").value;

        let response = await fetch("/Account/ForgotPassword", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ email: email })
        });

        let data = await response.json();
        document.getElementById("message").textContent = data.message;
    });
</script>
