@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container gallery-container">
  
    <div class="filter-container">
        <div>
            <label for="typeFilter" class="form-label">Тип изделия</label>
            <select id="typeFilter" class="selectArchiveGallery" multiple>
                <option value="Медаль">Медаль</option>
                <option value="Статуэтка">Статуэтка</option>
                <option value="Брелок">Брелок</option>
            </select>
        </div>
        <div>
            <label for="colorFilter" class="form-label">Цвет</label>
            <select id="colorFilter" class="selectArchiveGallery" multiple>
                <option value="Синий">Синий</option>
                <option value="Красный">Красный</option>
                <option value="Золотой">Золотой</option>
                <option value="Синий">Синий</option>
                <option value="Красный">Красный</option>
                <option value="Золотой">Золотой</option>
                   <option value="Синий">Синий</option>
                <option value="Красный">Красный</option>
                <option value="Золотой">Золотой</option>
                <option value="Синий">Синий</option>
                <option value="Красный">Красный</option>
                <option value="Золотой">Золотой</option>
            </select>
        </div>
        <div>
            <label for="materialFilter" class="form-label">Материалы</label>
            <select id="materialFilter" class="selectArchiveGallery" multiple>
                <option value="Металл">Металл</option>
                <option value="Дерево">Дерево</option>
                <option value="Пластик">Пластик</option>
            </select>
        </div>
    </div>
    <div class="journal_images gallery">
        <img class="plus" src="images\плюсик.jpg" alt="">
        <img src="~/photos/photo_1_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_2_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_8_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_7_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_8_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_7_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_2_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_1_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_2_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_8_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_7_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_8_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_7_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_2_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_1_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_2_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_8_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_7_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_8_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_7_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_2_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_3_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_4_2024-03-22_10-36-36.jpg" alt="">
        <img src="~/photos/photo_5_2024-03-22_10-36-36.jpg" alt="">
      
    </div>
</div>

@section Scripts {
    <script src="js/ArchiveGallery.js" asp-append-version="true"></script>
}