
/* ------------------------------------------Общие стили------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** [type="hidden"] {
    position: absolute;
    left: -9999px;
}
*/
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    /*background: linear-gradient(to bottom, #0f2027, #2c5364, #74f8dc);*/
    /*background: linear-gradient(to bottom, #0c0104, #473430);*/
    /*background: linear-gradient(center, #ebddda, #f3f3f3);*/
    color: #fff;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        gap: 10px;
    }

    .project {
        flex-direction: column;
        align-items: center;
    }

    .popup {
        width: 90%;
    }
}

input, select, button, a {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

td input[type="date"], td input[type="file"] {
    max-width: 80px;
}

pre {
    text-align: left;
    height: min-content;
}

textarea {
    text-align: left;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.0);
    color: white;
    padding: 14px;
    min-height: 50px; /* Минимальная высота */
}

/*select {
    min-width: 150px;
}*/

h3, h2 {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    color: #aaecb6;
    margin: 20px;
   /* width: min-content;*/
}



h4 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #aaecb6;
    margin: 1px;
    width: 100%;
    justify-self:center;
}

a {
    text-decoration: none; /* Убирает подчёркивание */
    color: inherit; /* Наследует цвет от родительского элемента */
    margin: 30px;
    display: flex; /* Позволяет использовать flexbox */
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
    text-align: center; /* На случай, если текст будет многострочным */
    height: 100%; /* Убедитесь, что у элемента есть заданная высота */
    width: 100%; /* Убедитесь, что у элемента есть заданная ширина */
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    margin: 3px;
}

    a:hover, a:focus {
        text-decoration: none; /* Убирает подчёркивание при наведении */
        color: inherit; /* Оставляет исходный цвет */
    }

input:focus, select:focus, button:hover {
    border-color: #aaecb6;
    outline: none;
}

button {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    margin: 1px;
    display: block;
    /* margin: 3px;*/
}

    button:hover {
        background: #aaecb6;
        color: #000;
    }

.buttonSmall{
    width: fit-content;
}

label {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}
.for-label{
    display:inline;
}

input {
    /*width: 100%;*/
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #fff;
}

    input:focus {
        outline: 2px solid #aaecb6;
    }

.button:hover {
    background: #aaecb6;
    color: #000;
}

.close-btn {
    position: absolute;
    top: -20px; 
    right: -20px;
    cursor: pointer;
}

/*----------------------------------стили страницы входа-------------------------------------*/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: auto;
    left:auto;
    right:auto;
    bottom:auto;
    margin:30px;
}

.login-modal {
    background-color: rgba(33, 33, 33, 0.95);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

    .login-modal h2 {
        margin: 0 0 20px;
        font-size: 24px;
        text-align: center;
        color: #aaecb6; /* Цвет заголовка */
    }
.form-group {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin: 2px;
    background-color: #57a966;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #1e1e1e;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #aaecb6;
    }

.red{
    background-color:darkred;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: #57a966;
    text-decoration: none;
    transition: color 0.3s;
}

    .forgot-password:hover {
        color: #aaecb6;
    }


/*--------------------стили текущих проектов / просто карточек проекта-----------------------*/

.header {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

    .header button {
      /*  background: rgba(0, 0, 0, 0.7);*/
       /* color: #fff;*/
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

.master_name {
    margin: 20px 20px 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.master_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 5px solid #57a966;
}

.project {
    width: calc(17% - 15px);
    min-width: 150px; /* Минимальная ширина */
    max-width: 200px; /* Ограничение на слишком широкие карточки */
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

    .project img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

/*.master_list.red {
    border-left: 5px solid #57a966;
}
*/
.master_list.green {
    border-left: 5px solid green;
}

.project:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.2);
}

.project_text p {
    margin: 5px 0;
}

.popup_before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.popup {
    visibility: hidden;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 4;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    display: inline-block;
    padding-top: 5px;
    overflow: visible;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px;
    max-width: 90vw; /* Не больше 90% ширины окна */
    max-height: 90vh; /* Не больше 90% высоты окна */
    width: auto; 
    height: auto; 
 
}

.inner-container {
  
    flex: 1; /* Растягивается внутри popup_small */
    max-height: 89vh; /* Ограничиваем высоту содержимого */
    overflow: auto;
}

.popup_small {
    visibility: hidden;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 4;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    display: inline-block;
    padding-top: 5px;
    overflow: visible;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px;
    width: min-content;
    min-width: 40vw;
    max-width: 90vw;
    z-index:1002;
    height: auto;
    max-height: 90vh;
    min-height: min-content;
}

.popup::-webkit-scrollbar {
    width: 0;
}

.journal{
    height:fit-content;
}

.journal_images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

    .journal_images img {
        width: 70px;
        height: 70px;
        margin: 2px;
    }

.gallery img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5px;
    display: flex;
}

.items img {
    width: 70px;
    height: 70px;
}

.popup h3 {
    color: #aaecb6;
    margin-bottom: 10px;
}

.project_card_div {
    /*margin-bottom: 15px;*/
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow:scroll;
}

    .project_card_div h2 {
        margin-bottom: 15px;
        font-size: 1.5em;
        color: #aaecb6;
    }

    .project_card_div img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
    }

.add-row-btn {
    margin-top: -15px;
    margin-bottom: 25px;
}

.gallery img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin: 5px;
}

.text_block {
  /*  margin: 15px 0;*/
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.text_block p {
    margin-bottom: 10px;
}

.plus {
    border: 1px solid black;
}

    .image-overlay img:hover {
        transform: scale(1.05);
    }

.project-details {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    vertical-align: top;
    width:100%;

}
.table {
    width: 100%; /* Устанавливаем таблице ширину 100% */
}

.item-description {
    max-width: 50%; /* Ограничиваем ширину столбца с описанием */
    overflow: scroll; /* Прячем текст, который выходит за пределы */
}

.detail-item {
    padding: 20px;
   /* border: 1px solid #ddd;*/
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

    .detail-item strong {
        font-weight: bold;
        color: white;
      
    }

    .detail-item span {
        color: lightgray;
    
    }

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  /*  .action-buttons button {
        padding: 10px 15px;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }*/


/* .taskPlanner {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #2a2d34, #74f8dc);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
} */


.project_card_div div {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между заголовком и инпутом */
    margin-bottom: 10px;
}

.project_card_div label {
    font-size: 14px;
    font-weight: bold;
    min-width: 150px; /* Минимальная ширина для заголовков */
}

.project_card_div input,
.project_card_div select {
    flex-grow: 1;
}

.table-container {
    overflow-x: auto; /* Горизонтальная прокрутка, если не влезает */
    max-width: 100%;
}

table {
    width: 100%;
    white-space: nowrap;
}

/*.table th, .table td {
    padding: 2px;
    word-wrap: break-word;
}
*/
.select-small {
    width: min-content !important;
    display: inline-block;
}

/*td select {
    width: min-content;
} */

.btn-danger.remove-item {
   /* margin-left: 10px;*/
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

    .btn-danger.remove-item:hover {
        opacity: 1;
    }

#itemTypeSelect {
    width: 50px;
    overflow: hidden;
}

#projectName{
    width: fit-content;
}
/*-----------------------------календарь / планер задач----------------------------------*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    overflow: auto;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 20px;
    padding: 20px;
    overflow-y: scroll;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.calendar {
    display: grid;
    gap: 1px;
}

.calendar-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-cell {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 220px;
    display: flex;
    margin: 1%;
    flex-direction: column;
    justify-content: space-between;
    /*   overflow: scroll;*/
    justify-content: flex-start; /* Верхнее выравнивание содержимого */
    overflow: scroll; /* Скрываем содержимое за пределами блока */
}

.today {
    border-style: solid;
    border-color: darkred;
}

.empty-calendar-cell {
    position: relative;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 220px;
    display: flex;
    margin: 1%;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

.weekend {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 220px;
    display: flex;
    margin: 1%;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
}

.calendar-cell .add-task-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: black;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.calendar-cell .add-task-btn:hover {
    background: #333;
}

    .weekend .add-task-btn:hover {
        background: #333;
    }

.add-task-btn {
    background: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

    .add-task-btn:hover {
        background: #00ffea; /* Меняем цвет кнопки на светло-зелёный при наведении */
        transform: scale(1.1);
    }

.month-header h2 {
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
/*-------------------------------- стили для галереи----------------------- */

/* Modal styles */
.modal-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
}

    .modal-content h2 {
        margin-bottom: 10px;
    }

    .modal-content label {
        display: block;
        margin-top: 10px;
    }

    .modal-content select,
    .modal-content textarea,
    .modal-content button {
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    .modal-content button {
        background: black;
        color: white;
        cursor: pointer;
    }

        .modal-content button:hover {
            background: #333;
        }

    .modal-content button {
        margin-top: 10px;
    }

        .modal-content button + button {
            background: red;
        }

            .modal-content button + button:hover {
                background: darkred;
            }



/*------------------ Архивная галерея-------------------------- */

.selectArchiveGallery{
    height: 90%;
    overflow: scroll;
}

.filter-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap; 
}

    .filter-container > div {
        flex: 1 1 auto; 
        min-width: 200px;
    }
   /* --------------------селекторы архива-----------------------*/

.hidden {
    display: none;
}

.client-container {
    margin-bottom: 20px;
}

.client-header {
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    left: 0;
}

h6.right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.client-header:hover {
    background-color: #57a966;
}

.requisites, .contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
}

.requisite-item, .contact-item {
    flex: 1 1 calc(20% - 20px); /* Три элемента в ряд */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #4a7051;
}

    .requisite-item a, .contact-item a {
        display: block;
        margin-top: 10px;
        color: #aeaeae;
        text-decoration: none;
    }

        .requisite-item a:hover, .contact-item a:hover {
            color: white;
        }

/*//----------------------------------salary--------------------------//*/

.monthSalaryCircle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin:10px;
}

.redCircle{
    background-color:red;
}

.greenCircle{
    background-color:green;
}

/*--------------------------------радио кнопки----------------------------*/

.radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Стили для самого радиобаттона */
input[type="radio"] {
    appearance: none; /* Убираем стандартный вид */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

    /* Когда радиобаттон выбран */
    input[type="radio"]:checked {
        background-color: darkred;  
    }


.archiveCard {
    background: rgba(33, 33, 33, 0.5);
}



/*------------------------------------журнал!!!! в разработке------------------------------------------*/


.journal-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между блоками */
    width: 98%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin:10px;
}

/* Верхняя строка с селектом */
.journal-header {
    display: flex;
    align-items: center;
    gap: 10px; /* Отступ между лейблом и селектом */
}
.journal-header-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Отступ между "Журнал" и стрелкой */
}


.journal-header-container h3  {
    margin:0;
    padding:0;
    align-self:center;
    align-content: center;
    display: flex;
 
}  


.toggle-journal, .delete-note-btn {
    background: transparent;
    border: none;
    cursor: pointer;
   /* width: 36px;
    height: 36px;*/
   width: min-content;
   height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

    .toggle-journal:hover, .delete-note-btn:hover {
        background: transparent;
        border: none;
        cursor: pointer;
        width: 35px;
        height: 35px;
        justify-self:center;
    }


    .toggle-journal svg {
        width: 36px;
        height: 36px;
        fill: white;
    }


    .journal-header label {
        font-weight: bold;
    }

    .journal-header select {
        flex-grow: 1; /* Селект займет всё доступное место */
        max-width: 200px; /* Ограничиваем максимальную ширину */
    }

/* Контейнер для текста и фото */
.journal-content {
    display: flex;
    gap: 20px; /* Отступ между текстом и фото */
    align-items: flex-start; /* Выравниваем по верху */
    height: min-content;
}

/* Текстовый блок */
.text_block {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.text_block_description {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}


.text_block textarea {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: both; /* Позволяет изменять высоту */
}

/* Галерея изображений */
.journal_images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    width: 50%;
    overflow: scroll;
    max-height: 200px;
    /*max-width: 200px;*/ /* Ограничиваем ширину блока с фото */
}

    .journal_images img {
        max-width: 100px;
        max-height: 100px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
    }


@media (max-width: 600px) {
    .text_block {
        width: 100%; /* Делает блок полным на мобильных устройствах */
    }

    .journal-content {
        display: block;
        gap: 50px; /* Отступ между текстом и фото */
        /*align-items: flex-start;*/ /* Выравниваем по верху */
        height: min-content;
    }


    .text_block_description {
        flex-direction: column; /* Чтобы у нас было вертикальное расположение */
    }

    .journal_images {
        width: 100%; /* Галерея изображений займёт всю ширину на мобильных */
        max-height: none; /* Убираем максимальную высоту, если необходимо */
    }

        .journal_images img {
            max-width: 70px; /* Меньший размер изображений на мобильных */
            max-height: 70px; /* Меньший размер изображений на мобильных */
        }
}


    .delete-note-btn{

    }

    /*
.add-note-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}
*/
    /* Стили для кнопки "+" */
    /*.journal_images .plus {
        width: 100px;
        height: 100px;
        border: 2px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #aaa;
    }*/
    
