

/* ------------------------------------------Общие стили------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; 
    background: linear-gradient(to bottom, #0f2027, #2c5364, #74f8dc);
    color: #fff;
    min-height: 100vh;
 
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        gap: 10px;
    }

    .project {
        flex-direction: column;
        align-items: center;
    }

    .popup {
        width: 90%;
    }
}

input, select, button, a {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

select {
    min-width: 150px;
}

a {
    text-decoration: none; /* Убирает подчёркивание */
    color: inherit; /* Наследует цвет от родительского элемента */
    margin: 30px;
    display: flex; /* Позволяет использовать flexbox */
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
    text-align: center; /* На случай, если текст будет многострочным */
    height: 100%; /* Убедитесь, что у элемента есть заданная высота */
    width: 100%; /* Убедитесь, что у элемента есть заданная ширина */
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    margin: 3px;
}

    a:hover, a:focus {
        text-decoration: none; /* Убирает подчёркивание при наведении */
        color: inherit; /* Оставляет исходный цвет */
    }

input:focus, select:focus, button:hover {
    border-color: #74f8dc;
    outline: none;
}

button {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    margin: 3px;
}

    button:hover {
        background: #74f8dc;
        color: #000;
    }


label {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #fff;
}

    input:focus {
        outline: 2px solid #00ffcc;
    }

/*----------------------------------стили страницы входа-------------------------------------*/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: auto;
    left:auto;
    right:auto;
    bottom:auto;
}

.login-modal {
    background-color: rgba(33, 33, 33, 0.95);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

.login-modal h2 {
        margin: 0 0 20px;
        font-size: 24px;
        text-align: center;
        color: #00ffcc; /* Цвет заголовка */
    }
.form-group {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #00ffcc;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #1e1e1e;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #009988;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: #00ffcc;
    text-decoration: none;
    transition: color 0.3s;
}

    .forgot-password:hover {
        color: #009988;
    }


/*--------------------стили текущих проектов / просто карточек проекта-----------------------*/

.header {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

    .header button {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .header button:hover {
            background: #74f8dc;
            color: #000;
        }

.master_name {
    margin: 20px 20px 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.master_list {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    margin: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.project {
    display: flex;
    flex-direction: column; /* Карточки остаются вертикальными внутри */
    width: calc(17% - 15px); /* Устанавливаем ширину карточки */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

    .project img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

.master_list.red {
    border-left: 5px solid red;
}

.master_list.green {
    border-left: 5px solid green;
}

.project:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.2);
}

.project_text p {
    margin: 5px 0;
}

.popup_before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.popup {
    visibility: hidden;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 4;
    width: 80%;
    height: 95%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    display: inline-block;
    padding-top: 5px;
    overflow: scroll;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px;
}

.popup_small {
    visibility: hidden;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 4;
    width: 40%;
    height: min-content;
    /* background-color: rgba(255, 255, 228, 0.8); */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    display: inline-block;
    padding-top: 5px;
    overflow: visible;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px;
}

.close-btn {
    position: absolute;
    top: -20px; /* Сдвигаем крестик над верхним краем */
    right: -20px; /* Сдвигаем крестик к правому краю */
    cursor: pointer;
}

.popup::-webkit-scrollbar {
    width: 0;
}

.journal_images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

    .journal_images img {
        width: 70px;
        height: 70px;
        margin: 2px;
    }

.gallery img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5px;
    display: flex;
}

.items img {
    width: 70px;
    height: 70px;
}

.popup h3 {
    color: #74f8dc;
    margin-bottom: 10px;
}

.project_card_div {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

    .project_card_div img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
    }
input[type="date"]{
    max-width: 100px;
}

.add-row-btn {
    margin-top: -15px;
    margin-bottom: 25px;
}

.gallery img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin: 5px;
}

.text_block {
    margin: 15px 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}

    .text_block p {
        margin-bottom: 10px;
    }
/* Адаптивность */

.image-overlay button {
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.image-overlay img {
    transition: transform 0.3s ease;
}

.plus {
    border: 1px solid black;
}

    .image-overlay img:hover {
        transform: scale(1.05);
    }

/* .taskPlanner {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #2a2d34, #74f8dc);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
} */


/*-----------------------------календарь / планер задач----------------------------------*/

.calendar-container {
    overflow: auto;
    height: 90%;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 20px;
    padding: 20px;
    overflow-y: scroll;
    max-height: 90vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.calendar {
    display: grid;
    gap: 1px;
}

.calendar-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-cell {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 220px;
    display: flex;
    margin: 1%;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
}

.calendar-cell .add-task-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: black;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

    .calendar-cell .add-task-btn:hover {
        background: #333;
    }

.add-task-btn {
    background: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

    .add-task-btn:hover {
        background: #00ffea; /* Меняем цвет кнопки на светло-зелёный при наведении */
        transform: scale(1.1);
    }

.month-header h2 {
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
}

    .modal-content h2 {
        margin-bottom: 10px;
    }

    .modal-content label {
        display: block;
        margin-top: 10px;
    }

    .modal-content select,
    .modal-content textarea,
    .modal-content button {
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    .modal-content button {
        background: black;
        color: white;
        cursor: pointer;
    }

        .modal-content button:hover {
            background: #333;
        }

    .modal-content button {
        margin-top: 10px;
    }

        .modal-content button + button {
            background: red;
        }

            .modal-content button + button:hover {
                background: darkred;
            }



/*-------------------------------- стили для галереи----------------------- */
.gallery img {
    cursor: pointer;
    max-width: 100px; /* Для предварительного просмотра */
    margin: 5px;
}

/*----------------------- Стили для полноэкранного просмотра---------------------------- */
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    /* background: rgba(0, 0, 0, 0.9); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    position: fixed;
    right: 10px;
    top: 10px;
    /* z-index: 2;
    width: 80%;
    height: 95%; */
    /* background-color: rgba(255, 255, 228, 0.8); */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    display:inline-block;
    padding-top: 5px;
    overflow: scroll; */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px;
}

    .fullscreen-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .fullscreen-overlay img {
        max-width: 90%;
        max-height: 90%;
    }

    .fullscreen-overlay .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }

    .fullscreen-overlay .prev-btn,
    .fullscreen-overlay .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        user-select: none;
    }

    .fullscreen-overlay .prev-btn {
        left: 20px;
    }

    .fullscreen-overlay .next-btn {
        right: 20px;
    }

/*------------------ Архивная галерея-------------------------- */

.selectArchiveGallery{
    height: 90%;
    overflow: scroll;
}

.filter-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap; 
}

    .filter-container > div {
        flex: 1 1 auto; 
        min-width: 200px;
    }
   /* --------------------селекторы архива-----------------------*/

.hidden {
    display: none;
}

.client-container {
    margin-bottom: 20px;
}

.client-header {
    background-color: #212931;
    color: white;
    padding: 10px;
    cursor: pointer;
    left: 0;
}

    .client-header:hover {
        background-color: #34495e;
    }

.requisites, .contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
}

.requisite-item, .contact-item {
    flex: 1 1 calc(20% - 20px); /* Три элемента в ряд */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #2c3e50;
}

    .requisite-item a, .contact-item a {
        display: block;
        margin-top: 10px;
        color: #007bff;
        text-decoration: none;
    }

        .requisite-item a:hover, .contact-item a:hover {
            text-decoration: underline;
        }
